@model BaseApplication.Domains.ViewModels.PasswordUIModel

@{
    Layout = null;
}
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
@*Toastr*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<style>
    input[type="checkbox"] {
        accent-color: #776acf;
        width: 15px;
        height: 15px;
    }

    @@media screen and (max-width:500px) {
        h5 {
            font-size: 17px;
        }

        label {
            font-size: 14px;
        }

        .form-control {
            font-size: 14px !important;
        }

        button {
            font-size: 14px;
        }

        .img {
            height: 14%;
            width: 20%;
        }
    }

    .Login_content {
        padding: 30px 20px;
    }

    .input-group_css {
        display: flex;
    }

    .Login_content {
        background: white;
    }

    input.pw {
        -webkit-text-security: disc;
    }

    .img {
        height: 22%;
        width: 18%;
    }

    .error-font-size {
        color: red;
    }

    .btn_css {
        width: 100%;
        background-color: #776acf;
        border: 1px solid #776acf;
    }

    .btn-primary:hover {
        color: #fff;
        background-color: #776acf;
        border-color: #776acf;
    }

</style>
<body style=" overflow:hidden; background-color: #776acfad; background-image: linear-gradient(to right, #776acf66, white)">
    <div class="Main_container">
        <div class="container">
            <div class="row justify-content-center align-content-center" style="margin-top:8%;height:700px;">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="Login_content container-fluid" style="padding:40px 20px;">
                        <section class="row flexbox-container">
                            <div class="Login_content container-fluid">
                                <div class="">
                                    <div class="card-title">
                                        <h5 class="text-center pb-1" style="color:#3b1c54;">Generate Password</h5>
                                    </div>
                                    <form class="mb-2" role="form" asp-action="ResetPassword" asp-controller="Account" method="post">
                                        <input asp-for="@Model.Code" type="hidden" />
                                        <input asp-for="@Model.Email" type="hidden" />
                                        <div class="form-group mb-2">
                                            <label class="text-bold-600 login_font" for="New Password">New Password</label>
                                            <input type="password" asp-for="@Model.NewPassword" class="form-control" placeholder="NewPassword" />
                                            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label class="text-bold-600 login_font" for="ConfirmPassword">Confirm Password</label>
                                            <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                                            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span></br>
                                            <span class="mt-1" style="font-size:80%">The Password must be at least 6 and at max 20 characters long.</span>
                                        </div>
                                        <span class="error-font-size">@ViewBag.Message</span>
                                        <button type="submit" class="btn btn-primary btn_css w-100">
                                            Generate Password<i id="icon-arrow" class="bx bx-right-arrow-alt arrow-end"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>